div {
    width: 400px;
    height: 600px;
    background-color: orange;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

form {
    position: absolute;
    margin: auto;
    top: 20px;
    left: 0;
    right: 0;
    width: 90%;
    height: 90%;

}
.button {
    width: 22%;
    height: 10%;
    margin: 4% 1%;
    font-size: 25px;
    font-weight: 700;
    border: none;
    background-color: black;
    color: white;
}

#screen {
    display: inline-block;
    width: 100%;
    height: 80px;
    background-color: gray;
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#btn-del,
#btn-0 {
    width: 46%;
}

.func{
    background-color: gray;
}

#btn-del {
    background-color: skyblue;
}

#btn-eq {
    background-color: limegreen;
}

input[type="button"]:hover,
#btn-del:hover,
#btn-eq:hover {
    background-color: darkgray;
}