body {
    margin: 10vw;

}

.sub {
    position: relative;
    width: 600px;
    height: 400px;
    background-image: url(../img/4-jezioro.jpg);
    background-position:center; 
    background-repeat: no-repeat;
    background-size: 586px 386px;
    font-size: 0;
    transition: font-size 5s ease;
}

.sub:hover {
    font-size: 2em;
}


.sub:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    transition: height 5s ease;

}

.sub:hover:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 600px;
    height: 200px;
}

.sub:after {
    content: "";
    position: absolute;
    bottom: 0;
    right:0;
    height: 0;
    transition: height 5s ease;
}

.sub:hover:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width:  600px;
    height: 200px;
}

P {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    margin: 0;
    top: 50%;
    transform: translateY(-50%)
}