body {
    margin: 0;
}

.sub {
    position: relative;
    width: 300px;
    height: 200px;
    background-image: url(../img/4-jezioro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 290px 190px;
    font-size: 0;
    transition: font-size 5s ease;
}

.sub:hover {font-size: 2em;}


.sub:before {
    content: "";
    position: absolute;
    top: 0;
    background-color: none;
    width: 99%;
    height: 0;
    transition: height 5s ease;
}

.sub:hover:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: none;
    width: 99%;
    height: 50%;
}

.sub:after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: none;
    width: 99%;
    height: 0;
    transition: height 5s ease;
}

.sub:hover:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: none;
    width: 99%;
    height: 50%;
}

P {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    margin: 0;
    top: 50%;
    transform: translateY(-50%)
}