* {box-sizing: border-box;}

body {
    text-align: center;
    margin: 0;
    padding: 0;
}

#navbar {padding: 5px; }

#menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15px;
    right: 0%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-link {
    font-size: 70%;
    color: white;
    text-decoration: none;
    font-weight: 800;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-option {
    position: relative;
    list-style-type: none;
    margin: 5px;
    width: 15%
    display: inline;
}

#left{position: relative;
    left: 20px;
    width: 50%;
}

#right{
    position: relative;
    right: 20px;
    width: 50%;
}

#navbar {
    width: 100vw;
    height: 90px;
    position: relative;
    background-color: blue;
    color: white;
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

#navbar:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 50px solid white;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}


section {
    font-size: 4em;
    font-weight: 400;
}

#link-1,
#link-2,
#link-3 {
    float: left;
}

#link-4,
#link-5,
#link-6 {
    float: right;
}



section {
    box-sizing: border-box;
    display: inline-block;
    position: relative;

}