@media(max-width: 640px) {
    .crew-member {
        width: 100%;
    }
    .fan-op {
        width: 80%;
    }

}

@media (min-width: 640px) and (max-width: 1100px) {
    .crew-member {
        width: 35%;
        margin: 5%;
    }
}