body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;

}


a {
    text-decoration: none;
    color: white;
}

nav {
    position: absolute;
    right: 5vw;
    top: 2vh;

}

.nav-link {
    color: white;
    display: inline-block;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1em;
}

.nav-link:hover {
    background-color: darkblue;
}

header {
    background-color: darkviolet;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 800;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

#header-text {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
    font-size: 1.5em;
}

#hire-us {
    background-color: orange;
    padding: 10px 20px;
}

section {
    width: 100%;
}

h2 {
    font-size: 2em;
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
}

h2::after {
    content: ""
    color: black;
    display: block;
    border: 2px solid black;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

h4 {
    font-size: 1em;
    font-weight: 500;
    color: white;
    margin-bottom: 5px;
}

h5 {
    font-size: 0.9em;
    font-weight: 500;
    color: orange;
    margin-bottom: 5px;
    margin-top: 5px;
}


#team {
    background-color: aliceblue;
}

#members {
    display: inline-block;
    width: 80%;
}

.cat-face {
    border: 1px solid gray;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.social-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    margin: 7px;
}

.crew-member {
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    color: gray;
    transition: all 0.5s ease;
    background-color: aliceblue;
    padding-top: 20px;
}

.crew-member:hover {
    transform: scale(1.3);
    box-shadow: 5px 5px;
    background-color: #ffffff;
}

.crew-member h4 {
    color: black;
    font-size: 1.5em;
    font-weight: 700;
}

.crew-member h5 {
    color: cadetblue;
    font-size: 1.2em;
    font-weight: 700;

}

#skills {
    padding-bottom: 60px;
}

#opinions {
    background-color: firebrick;
    padding-bottom: 60px;
}

.fan-op {
    position: relative;
    width: 40%;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

.fan-op:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px;
    background-color: #c14646;
}

.fan-face {
    width: 148px;
    height: 148px;
    border: 1px solid gray;
    border-radius: 50%;
}

.fan-op-text {
    width: 20vw;
    margin-left: 10px;
    display: inline-block;
}

#contact {
    background-color: blue;
    padding-bottom: 40px;
}

#contact form input,
textarea {
    border: none;
    background-color: darkslateblue;
    color: white;
}

input[type=text] {
    width: 49%;
    height: 40px;
    float: left;
    margin-bottom: 20px;
}

input[type=email] {
    width: 49%;
    line-height: 40px;
    float: right;
    margin-bottom: 20px;
}

form {
    padding: 0 20%;
}

textarea {
    width: 100%;
    height: 120px;
    resize: vertical;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}

footer {
    background-color: darkblue;
    width: 100%;
}


.social-media {
    margin: 10px 20px;
    font-size: 1em;
    font-weight: 600;
    line-height: 55px;
}

.social-media:hover {
    color: aquamarine;
}