#gb {
    background-image: url(/image/ghost-busters.png);
    display: block;
    width: 100px;
    height: 100px;
    -webkit-transition: background-image 3s ease-in 2s;
    -moz-transition: background-image 3s ease-in 2s;
    -o-transition: background-image 3s ease-in 2s;

}

#gb:hover {
    display: block;
    background-image: url(/image/kotek.jpg);

    
}