div {
    display: inline-block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    background-color: red;
}

h2 {
    width: 100%;
    font-size: 10px;
    text-align: center;
}