body {
    font-family: verdana;
    margin: 0;
}

h1 {
    line-height: 1.5em;
    display: inline-block;
}

header {
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width:992px) {
    header {
        height: 50vh;
        text-align: center;
        background-image: url(../img/man-1.jpg);
    }

    h1 {
        text-align: center;
        font-weight: 400;
        font-size: 3.5vw;
        position: absolute;
        top: 55%;
        left: 30%;
    }


    span {
        font-size: 3vw;
        font-weight: 700;

    }
}

@media (min-width:993px) and (max-width:1170px) {
    header {
        height: 70vh;
        text-align: center;
        background-image: url(../img/man-2.jpg);
    }

    h1 {
        text-align: left;
        color: white;
        position: absolute;
        font-weight: 400;
        font-size: 3vh;
        line-height: 6vh;
        top: 6vh;
        right: 10vw;

    }

    span {
        font-size: 4vh;
        font-weight: 700;

    }
}

@media (min-width:1171px) {
    header {
        height: 100vh;
        background-image: url(../img/man-1.jpg);
    }
    h1 {
        text-align: left;
        display: inline-block;
        float: left;
        position: absolute;
        color: white;
        font-weight: 400;
        font-size: 4vh;
        margin-top: 40vh;
        line-height: 7vh;
    }

    span {
        font-size: 5vh;
        font-weight: 700;

    }
}