body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    line-height: 3vw;
}

ul {
    padding: 0;
    text-align: center;
}

#main {
    padding: 0 5vw;
    position: relative;
    display: flex;
    text-align: center;
    background-image: linear-gradient(30deg, white, gray, darkgray, gray, white);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

#menu {
    display: inline-block;
    position: absolute;
    text-align: right;
    right: 0;
    margin-right: 5vw;
}

#menu > ul > li {
    display: inline;
    margin: 0;
}

#menu > ul > li > a {
    text-decoration: none;
    font-weight: 900;
    padding: 5px 20px;
    background-color: white;
    color: black;
    margin-right: 20px;
}

#eng,
#pl {
    background-size: cover;
    background-position: center;
}

#eng {
    background-image: url(../img/gb.png);
}

#pl {
    background-image: url(../img/pl.jpg);

}

li {
    list-style-type: none;
}

header {
    width: 100%;
    height: 15%;
    background-color: coral;
    color: black;
    padding: 5vw 0;
    z-index: 5;


}

#inheader {
    margin-left: 2vw;
    display: inline-block;
    width: 61vw;
    font-size: 2.5vw;
}

#pic {
    background-image: url(../img/GregMiasek.jpg);
    border: 2px solid black;
    border-radius: 2%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25vw;
    width: 20vw;
    display: inline-block;
    margin-left: 5vw;
    transition: 0.5s ease;
    transform-origin: left top;

}




#me {
    text-align: justify;
}

#about,
#calendar {
    display: inline-block;
    padding: 1vw;
    position: relative;
    background-color: white;
}

h1 {
    text-align: center;
    margin-top: 0;
}

h2 {
    text-align: center;
    font-size: 3vw;
}

h3 {
    font-size: 1.5vw;
}

span {
    text-align: left;
    font-weight: 900;
}


#about {
    width: 25vw;
    background-color: skyblue;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;

}


#calendar {
    width: 55vw;
    text-align: justify;
    padding-right: 3vw;

}

#calendar > section > ul > li {
    display: flex;
}

#calendar > section > ul {
    text-align: justify;
}


li {
    font-size: 2vw;
}

.data,
.opis {
    display: inline-block;
}

#exp > ul,
#edu > ul,
#hobby > ul {
    margin-left: 2vw;
}

#hobby > ul > li {
    margin-bottom: 10px;
}

#hobby > ul > {
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
}


.hobbytext {
    display: inline;
    left: 0;
    right: 0;
    margin: auto;
}

.data {
    width: 40%;
    margin-right: 10px;
    height: 100%;
}



.opis {
    width: 55%;
    position: relative;
    left: 10px;
}

#contact {
    width: 90wv;
    margin: 0 5vw;
    padding: 2vw 10vw;
    font-size: 1vw;
    text-align: center;
}

#contact input {
    width: 40vw;
    height: 4vw;
    font-size: 1.5vw;
    background-color: beige;
    color: black;
}

textarea {
    width: 70vw;
    height: 10vw;
    background-color: beige;
    resize: vertical;
    font-size: 1.5vw;
}

#contact #apply {
    width: 10vw;
}

footer {
    text-align: center;
    font-size: 1.5vw;
    padding: 40px 5%;
    background-color: coral;
}