form {
    border: 4px solid pink;
    color: white;
    background-color: #213b50;
    width: 600px;
    position: absolute;
    padding: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    text-transform: lowercase;
}

form label::first-letter {
    text-transform: uppercase;
}

form input,
form select {
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea,
select {
    width: 300px;
    height: 25px;
    border: solid #2b4a54;
    background-color: #2b4a54;
    color: white;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form textarea:focus,
select:focus {
    border: solid #2b4a54;
    background-color: #4e708c;
    color: white;
    outline: solid white;
}


form textarea {
    height: 120px;
    margin-top: 5px;
}

form input[type="radio"],
form label[for="woman"],
form label[for="man"] {
    display: inline;
}

form input[type="submit"] {
    background-color: limegreen;
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
}