.div1 {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: black;
    margin-bottom: 10px;
}

.div2 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: orange;
}

#small1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#big2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#small3 {
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}